* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}
/*Body for the document*/
body {
    background-color:#4d3c3c;
    }
/*Flex layout container*/
.container{
    display: flex;
    flex-direction: column;
    gap:1em;
    margin: 2em 5em;
   
    }
/*Main header with nav iniside*/    
header{
        flex: 1;
        background-color:rgb(25, 26, 25);/*removed border: 2px solid blueviolet; */
        border-radius: 1em;
               }
/*Flex layout section*/
section {
        flex: 4;
        gap:1em; 
        border-radius: 2em;
        display: flex;
    }
/*Flex layout and grid container */
    .grid_container{
        flex: 1;
        background-color: rgb(85, 84, 84); /*removed border: 2px solid red; */
        border: 2px solid black;
        margin: 2em 5em;
/*---Flex layout on on top and grid containing the specified blow.*/
        padding: 80px; 
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
     grid-template-rows: 300px 300px 300px 300px;
     gap:20px;    
     grid-template-areas: "box-1 box-4 box-6 box-6"
                          "box-2 box-4 box-7 box-8"                          
                          "box-3 box-5 box-9 box-9";

    }
/*First footer*/       
footer{
        flex: 1;        
        margin: 2em 5em;
        border: 2px solid #0e0d0d;
        }
/*Second footer*/        
.second-footer{
        flex: 1;
        background-color:rgb(53, 52, 52);
        margin: 2em 5em;
        border: 2px solid #0e0d0d;
        }

/*The boxes for grid*/
.box{
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: #5d5d5e;
    /*border: 2px solid black;*/
    color: #fff;
    font-size: 30px;
    }

/*Navigation Bar Syling*/
nav {
    width: 90%;
    background-color: #585858;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    z-index: 1;
    border: 2px solid #0e0d0d;
}
/*Logo to styling*/
.logo {
    font-size: 50px;
    font-weight: 700;
    font-weight: bold;
}

/*Menu on header styling*/
.menu {
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    border: 3px solid #0e0d0d;
}
/*Menu header list styling*/
.menu li {
    background-color: white;
    padding: 5px 10px;
}
/*Menu header text styling*/
.menu li a {
    font-size: 18px;
    color: #222222;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 10px;
}
/*Menu header text hover*/
.menu li a:hover {
    color: #ccc;
}

/*Menu header text active*/
.menu li.active {
    background-color: rgb(148, 148, 148);
}

/*Search box header styling */
.search {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 0;
}

/*Search box in the header*/
.search input {
    padding: 10px;
    border: 2px solid #ddd;
    outline: none;
    /*border-radius:5px;*/
    margin-right: 10px;
    font-size: 10px;
}
/*End of header*/
/*Begining of footer*/
/*First Footer sections 1:contact us form, 2:sitemap menu links 3:logo telephone & email*/
.footer{  
background-color:rgb(53, 53, 53);
 padding :10px;
 display: flex;
 justify-content: space-evenly;
 gap: 15%;
 }
 /*Contact us form styling*/
.form{ padding: 0;color: white;}
/*Sitemap menu links styling*/
.footer-menu{color: white;}
/*Sitemap menu links ancher styling*/
.footer-menu a {color: white;}
/*Sitemap menu links list styling*/
.footer-menu li{margin: 10px;}
/*Logo, telephone and email section styling*/
.icons{color:white;display:flex; flex-direction: column; gap: 5px;}
/*2nd logo section styling*/
.logo2{  
font-size: 50px;
font-weight: 700;
color:white;
margin-right: 50px;}
/*Second footer paragraph*/
.second-footer p{color: white; text-align: center;}
